{% extends 'login.html' %}

{% block title %}
Consultar Relações Usuário-Contato
{% endblock %}

{% block content %}
<h2>Consultar Relações Usuário-Contato</h2>
<table>
    <thead>
        <tr>
            <th>ID do Usuário</th>
            <th>Nome do Usuário</th>
            <th>ID do Contato</th>
            <th>Nome do Contato</th>
            <th>Situação</th>
        </tr>
    </thead>
    <tbody>
        {% for uc in user_contatos %}
        <tr>
            <td>{{ uc.users_id }}</td>
            <td>{{ uc.username }}</td>
            <td>{{ uc.contatos_id }}</td>
            <td>{{ uc.nome }}</td>
            <td>{{ uc.situacao }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}