<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Sistema de Cadastro</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Cadastrar</a></li>
                </ul>
            </nav>
        </header>

        <main class="screen-1">
         
            <h2>Bem-vindo ao SCMPA</h2>
            <h3>Sistema de Cadastro de Mensageria Para Usuários</h3>
            <p>Formação SenachTEch RS / Flask</p>
            <p>Por favor, faça login ou registre-se para continuar.</p>
            <div class="actions">
                <a href="{{ url_for('login') }}" class="btn login">Login</a>
                <a href="{{ url_for('register') }}" class="btn register">Cadastrar</a>
            </div>
        </main>

        <footer>
            <p>&copy; 2024 Sistema de Cadastro. Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>