<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--Estas linhas estão contidas dentro do elemento <head>, que fornece metadados sobre o documento que não são diretamente exibidos na página.-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Consulta de Usuários</title>
</head>



  <!--Estas linhas estão contidas dentro do elemento <head>, que fornece metadados sobre o documento que não são diretamente exibidos na página.-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Login</title>



<h2>Consultar Contatos</h2>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Mensagem</th>
        </tr>
    </thead>
    <tbody>
        {% for contato in contatos %}
        <tr>
            <td>{{ contato[1] }}</td>
            <td>{{ contato[2] }}</td>
            <td>{{ contato[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}