<!DOCTYPE html>
<html>
<head>
    <title>Contato</title>
</head>
<body>
    <h1>Contato</h1>
    <p>Envie suas dúvidas e sugestões:</p>
    <form method="post" action="{{ url_for('contact') }}">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="message">Mensagem:</label>
        <textarea id="message" name="message" required></textarea><br><br>
        <input type="submit" value="Enviar">
    </form>
    <a href="/">Voltar para a Página Inicial</a>
</body>
</html>