<!DOCTYPE html>
<!--Declaração do tipo de documento HTML5.-->
<html lang="pt-br">
    <!--Define a tag html como elemento raiz do documento e especifica o idioma como português do Brasil (pt-br).-->
<head>
    <!--Abre a tag head que contém metadados sobre a página.-->
    <meta charset="UTF-8">
    <!--Define o charset da página como UTF-8, permitindo a exibição correta de caracteres especiais.-->
    <title>Contato</title>
    <!--Define o título da página da web, que será exibido na barra de título do navegador.-->
</head>
<!--Fecha a tag head.-->
<body>
    <!--Abre a tag body que contém o conteúdo principal da página web que será visualizado pelo usuário.-->
    <h1>Formulario de Contato</h1>
<!--Define um cabeçalho de nível 1 (<h1>) com o texto "Formulario de Contato".-->
    <form method="POST">
        <!--Abre a tag form para criar um formulário.-->
        <!--O atributo method="POST" especifica que o formulário enviará os dados do usuário usando o método HTTP POST.-->
        {{ form.csrf_token() }}
        <!--Insere um token CSRF (Cross-Site Request Forgery) gerado pelo Flask-WTF.Esse token é importante para proteger o formulário contra ataques CSRF.-->
        <div>
            <!--Abre a tag div para criar um elemento de divisão que agrupa elementos relacionados do formulário.-->
            <label for="nome">Nome:</label>
            <!--Define uma tag label associada ao campo de nome do formulário.O atributo for="nome" vincula a etiqueta ao campo de nome, fazendo com que a etiqueta funcione como um texto explicativo para o campo.
            O texto "Nome:" descreve o que o usuário deve digitar no campo.-->
            {{ form.nome }}
            <!--Insere o campo de nome do formulário gerado pelo Flask-WTF.
O Flask-WTF renderiza o campo de nome com base na classe StringField definida no formulário.-->
            {% if form.nome.errors %}
            <!--Inicia um bloco condicional do Jinja2.
A condição verifica se o campo nome do formulário possui erros de validação (form.nome.errors).-->
                <span style="color: red;">{{ form.nome.errors[0] }}</span>
                <!--Se a condição for verdadeira (ou seja, se houver erros), exibe a primeira mensagem de erro (form.nome.errors[0]) associada ao campo de nome.
A tag span define um elemento inline que exibe a mensagem de erro.
O estilo color: red; define a cor da mensagem de erro como vermelho.-->
            {% endif %}
            <!--Fecha o bloco condicional do Jinja2.-->
        </div>
        <!--Fecha a tag div.-->
        <div>
            <label for="email">Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
                <span style="color: red;">{{ form.email.errors[0] }}</span>
            {% endif %}
        </div>
        <div>
            <label for="mensagem">Mensagem:</label>

            {{ form.mensagem }}

            {% if form.mensagem.errors %}

                <span style="color: red;">{{ form.mensagem.errors[0] }}</span>

            {% endif %}

        </div>

        <button type="submit">Enviar</button>
        <!--Define um botão de envio (<button>) do tipo submit.
Ao clicar nesse botão, o formulário é enviado para o servidor utilizando o método HTTP POST.-->
    </form>
    <!--Fecha a tag form, indicando o final do formulário.-->
</body>
<!--Fecha a tag body.-->
</html>
<!--Fecha a tag html, indicando o final do documento HTML.-->