<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="box-formulario">        
        <div class="formulario">
            <div class="title-form">
                <h1><i class="icon icon-comments-o"></i> Fale Conosco Agora</h1>
            </div>
            <form method="post" action="/">
                {{ form.hidden_tag() }}
                <span>
                    {{ form.nome(class_="input-slide", placeholder="Nome", autocomplete="off", required=True) }}
                    <label for="nome"> <i class="icon icon-user-outline"></i> </label>
                </span>
                <span>
                    {{ form.email(class_="input-slide", placeholder="E-mail", autocomplete="off", required=True) }}
                    <label for="email"> <i class="icon icon-mail-3"></i> </label>
                </span>
                <span>
                    {{ form.mensagem(class_="textarea-slide", rows=3, placeholder="Mensagem", autocomplete="off", required=True) }}
                    <label for="mensagem"> <i class="icon icon-commenting-o"></i> </label>
                </span>
                <div class="box-btn">
                    <button type="submit" class="btn-envia zoom-shadow">
                        <i class="icon icon-export"> Enviar</i>
                    </button>
                </div>
            </form>
        </div>
    </div><!--Box Formulario-->
    <p><a href="{{ url_for('consultar') }}">Consultar Contatos</a></p>
</body>
</html>
