{% extends 'layout.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="login">
    <h1>Login</h1>
    <div class="links">
        <a href="{{ url_for('login') }}" class="active">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        {{ form.username(placeholder="Username", id="username") }}
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        {{ form.password(placeholder="Password", id="password") }}
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}
