{% extends "template.html" %}
{%block titulo%}
Usuários TI
{%endblock%}
{% block conteudo%}
<h2 style="text-align: center; font-size: 25px; font-family: Segoe UI;">Contatos</h2>
    <table>
      <thead>
          <tr>
            <th>Nome</th>
              <th>Email</th>
              <th>Mensagem</th>
              <th>Ação</th>
          </tr>
      </thead>
      <tbody>
          {% for contato in contatos %}
              <tr>
                  <td>{{ contato[1] }}</td>
                  <td>{{ contato[2] }}</td>
                  <td>{{ contato[3] }}</td>
                  <td>
                    {% if contato[10] == 0%}
                    <button class="editar">Lido</button>
                    {%else%}
                    <button>Não lido</button>
                    {% endif %}

                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>

 

   
    
{%endblock%}
    